body {
    color:black;
    text-align:center;
}
h2 {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
#clickable {
    display: none;
}
.clickableImage {
    height:320px;
    width:auto;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 98%;
    text-align:center;
    height: 2.5rem;
    font-weight: bold;
}
#picDiv {
    margin-bottom: 10px;
    margin-top: 20px;
}
#menu {
    background-color: rgb(60, 70, 70);
    color: white;
    font-style: none;
    padding: 8px;
}
a {
    color: white;
    font-style: bold;
    text-decoration:none;
}
a:visited {
    color: white;
    text-decoration:none;
}
iframe {
    width:420;
    height:315;
}