body {
    color:black;
    text-align:center;
}
h2 {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
#clickable {
    display: none;
}
.clickableImage {
    height:320px;
    width:auto;
}
footer {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100vw;
    text-align:center;
    height: 2.5rem;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
}