body {
    background-image: url("week2/IMG_20201229_155624.jpg") no-repeat; 
    background-size: cover;
    color:black;
    font-size:larger;
    text-align:center;
}
h2 {
    margin-top: 100px;
    font-weight: bold;
}
ul {
    list-style-type: none;
}